.postbox {
	padding: 20px;
}

.postbox-h2 {
  text-align: center;
  padding: 0px 0 17px 0;
  margin: 0;
  font-size: 2em;
}

.postbox-h3 {
	color: #7b7979;
}

.contenido-postbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.aside-postbox {
  width: 20%;
  background-color: #f2f5f5;
  border: 2px solid #699;
  border-radius: 7px;
  padding: 8px;
}

.content-input {
  width: 77%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.content-label-follow,
.content-label-share {
  width: 100%;
  margin: 15px 0;
}

@media only screen and (min-width: 920px) {

  .content-label-share {
    width: -moz-calc(33.3333% - 30px);
    width: -webkit-calc(33.3333% - 30px);
    width: -o-calc(33.3333% - 30px);
    width: calc(33.3333% - 30px);
    margin: 15px;
  }

}

@media only screen and (min-width: 920px) {

  .content-label-follow {
    width: -moz-calc(50% - 30px);
    width: -webkit-calc(50% - 30px);
    width: -o-calc(50% - 30px);
    width: calc(50% - 30px);
    margin: 15px;
  }

}

.label-share,
.border {
	position: relative;
	padding: 20px;
	border: 1px solid #699;
	border-radius: 18px;
	width: -moz-calc(100% - 42px);
  width: -webkit-calc(100% - 42px);
  width: -o-calc(100% - 42px);
  width: calc(100% - 42px);
	display: inline-block;
}

.label-p,
.border-p,
.label-share-p {
  position: absolute;
  margin: 0;
  top: -10px;
  left: 15px;
  background: #fff;
  color: #699;
  padding: 0 10px;
}

.label-p {
	font-weight: 700;
	top: -15px;
}


.input-share {
  width: 100%;
  padding: 5px;
  display: block;
  margin: 0 auto;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid lightgrey;
}

.checkbox-share {
  width: 75px;
  margin: 10px;
}

@media only screen and (min-width: 920px) {

  .checkbox-share {
    margin: 10px 0 0;
  }

}

.checkbox-follow {
  display: inline-block;
  width: 75px;
}

.label-url {
  width: -moz-calc(100% - 82px);
  width: -webkit-calc(100% - 82px);
  width: -o-calc(100% - 82px);
  width: calc(100% - 82px);
}

.input-url {
  width: 100%;
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid lightgrey;
}

.label-url,
.label-share,
.checkbox-share,
.checkbox-follow {
  display: inline-block;
}

.checkbox-ajustes,
.content-radio {
    width: 100%;
    margin: 10px 0;
}

.wfs-icon-pmk,
.wfs-icon-social {
	background:url(../img/spriters-admin-wfs.svg) no-repeat;
  display: inline-block;
}

.wfs-icon-pmk {
  position: absolute;
  bottom: -9px;
  right: 12px;
  width: 72px;
  height: 46px;
  margin-left: 5px;
  background-size: 70px auto;
  background-position: 1px -991px;
}

.wfs-icon-social {
  width: 32px;
  height: 32px;
	margin-right: 8px;
  background-size: 59px auto;
}

.wfs-icon-email {
  background-position: -14px -15px;
}

.wfs-icon-pinterest {
  background-position: -14px -74px;
}

.wfs-icon-twitter {
  background-position: -14px -133px;
}

 .wfs-icon-linkedin {
  background-position: -14px -192px;
}

.wfs-icon-whatsapp {
  background-position: -14px -251px;
}

.wfs-icon-facebook {
  background-position: -14px -310px;
}

.wfs-icon-instagram {
  background-position: -14px -369px;
}

.wfs-icon-youtube {
  background-position: -14px -428px;
}

.wfs-icon-buffer {
  background-position: -14px -487px;
}

.wfs-icon-mybusiness {
	background-position: -14px -546px;
}
