.titulo {
  font-size:1em;
  font-weight:700;
  margin:8px 0;
  text-align: center;
  text-transform: uppercase;
}

.content-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.wfs-link-follow,
.wfs-link-share {
	text-align: center;
	margin:0 4px;
  display: inline-block;
}
a, path {
    transition: all 0.15s linear;
}

.svg-social-icon{
    display: block;
    height: auto;
    max-width: 100%;

}

.social-icon{
  fill:#fff;
  fill-rule:evenodd;
}

.wfs-link-follow:hover,
.wfs-link-share:hover {
  transform: scale(1.3);
}

.wfs-share,
.wfs-follow {
  margin: 20px 0 25px 0;
  display: inline-block;
}

.wfs-link-share {
    width: 24px;
    height: auto;
    padding: 4px;
    background: #FFC107;
/*  display: flex;
    align-items: center;
    justify-content: center;*/
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.15s ease-in-out;
}

.wfs-link-follow {
  width: 37px;
  height: 37px;
  background-size: 68px auto;
}
