
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-whatsapp:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-buffer:before { content: '\e803'; } /* '' */
.icon-correo:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-instagram:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */
.icon-my-business:before { content: '\e808'; } /* '' */
.icon-pinterest:before { content: '\e809'; } /* '' */
.icon-telegram:before { content: '\e80a'; } /* '' */